html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
	list-style-type: none;
}

h1 {
	font-size: 2.5em;
	font-family: 'Unica One', cursive;
}

body {
	margin: 30px;
	//background: #FFFCE9;
	//background-color: #282828;
	background-color: #0c0032;
	color: white;
	font-family: 'Vollkorn', serif;
}


section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
	min-height: 80vh;
}

.hidden {
  display: none;
}

.sign-up {
	text-align: center;
	width: 100%;
}

.beach-tv {
	width: 100%;
	height: 100vh;
	opacity: .6;
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	z-index: -1;
}

form {
	display: flex;
	flex-direction: column;
	width: 150px;
	align-self: center;
	text-align: center;
	height: 140px;
	justify-content: space-around;
}
input {
	background-color: #fff;
}

input[type="submit"] {
	width: 54px;
	align-self: center;
}

.enter-show {
	text-align: center;
}

.results {

}

.similar-shows > h1,
.similar-shows > h3 {
	text-align: center;
	margin-bottom: 25px;
}

.similar-show-list {
	margin-bottom: 16px;
}

.similar-show-list > li {
	background-color: #3500d3;
	margin-bottom: 20px;
	padding-top: 24px;
	border-radius: 5px;
}

.similar-show-list > li > h3 {
	padding: 10px;
	text-align: center;
}

.similar-show-list > li > p {
	padding: 20px;
}

.new-search {
	display: flex;
	align-self: center;
	background-color: white;
	border-radius: 5px;
}
